# Backend
backend/pb_data

# Frontend
web/node_modules
web/.output
web/.vercel
web/.netlify
web/.wrangler
web/.svelte-kit
web/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
